useDynLib("VanillaICE", .registration=TRUE)
importClassesFrom(methods, ANY, character, data.frame, "function", integer, matrix, numeric)
importMethodsFrom(methods, initialize, show)
importMethodsFrom(Biobase, sampleNames)
importMethodsFrom(oligoClasses, open, close)
importFrom(methods, "@<-", callNextMethod, new, validObject)
##importFrom(graphics, plot)
importFrom(stats, update)
importFrom(lattice, xyplot, simpleKey, panel.grid, panel.xyplot, lrect, ltext)
export(hmm.setup, robustSds)
export(plot)
exportMethods("hmm", "hmm2", "nMarkers", "LLR", "state", "rd2df", "plot")


