useDynLib("VanillaICE", .registration=TRUE)
importClassesFrom(methods, ANY, character, data.frame, "function", integer, matrix, numeric)
importMethodsFrom(methods, initialize, show)
importMethodsFrom(Biobase, sampleNames)
importFrom(methods, "@<-", callNextMethod, new, validObject)
##importFrom(graphics, plot)
importFrom(stats, update)
export(hmm.setup, robustSds)
exportMethods("hmm", "nMarkers", "LLR", "state", "rd2df", "plot")


